
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;
  width: 100vw;
  height: 100vh;


  padding: 2vh;
  text-align: center;
/*  border: inset 55px #CD1515;*/
}
.btnNext{
  position: absolute;
  top: 4%;
  right: 4%;
}
